*{
    margin-top: 60px;
    padding: 10px;
}

.box1 {
  position: static;
  border: 4px solid blue; 
  width: 200px; 
  
  margin-left: 600px;
}

.box2 {
   position: static;

  border: 4px solid red;
  width: 200px; 
  
  margin-left: 600px;
}

.box3 {
   position: static;
  border: 4px solid green;  
  width: 200px; 
  
  margin-left: 600px;

}