.container{
    background-color: aqua;
    height:650px;
    border:5px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}

p{
    color:red;
}

.box{
    background-color: beige ;
   width: 300px;
   height: 330px;
   border:1px solid brown;
   margin: 5px;
   padding:5px;
}

h1{
    color: red;
}