.container{
    background-color: aqua;
    height:650px;
    border:5px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}

p{
    color:red;
    text-shadow: 10px 10px 5px black;
}

.box{
    background-color: beige ;
   width: 300px;
   height: 330px;
   border:1px solid brown;
   margin: 5px;
   padding:5px;

   /* box-shadow: 20px 20px 5px 100px rgb(200,50,20); */

   /* box shadow this property adds a shadow effect to the element 
   and it can be customized with offset-x, offset-y, blur-radius, spread-radius, color */

   /* Box shadow inset this property adds an inner shadow effect to the element */

   /* In Box shadow we can add multiple shadows */
   box-shadow: 10px 20px  red, 15px 25px green
}

h1{
    color: red;
}