/* Page styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Heading */
.title {
  color: #070000;
  text-align: center;
}

/* Paragraph */
.description {
  font-size: 16px;
  color: #975959;
}

/* Button */
.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
}

.layout-1 {
  display: flex;
  gap: 30px;          /* space between cards */
  margin-top: 20px;  /* space below button */
}

.layout-2 {
  display: flex;
  gap: 30px;          /* space between cards */
  margin-top: 20px;  /* space below button */
}


.card {
  width: 200px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}




