:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555555;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    height:100vh;
    text-align: center;
    background-color: var(--background-color);
    padding:0.3rem;
}

.header-content{

    max-width: 1200px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.logo{
    display:flex;
    align-items: center;
    font-size:2rem;
    font-weight: bold;
    color:var(--text-color);
    gap:0.6rem;
}

.logo-icon{
    height: 5rem;
    width: 3rem;
}

.logo-text{
    font-size: 2rem;
}

.nav{
    display:flex;
    gap:2rem;
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-button:hover{
    background-color: #5254f8;
}