.container{
    border: 5px solid black;
    background-color: beige;
    margin:2px;
    padding:2px;
    display: flex;
    height: 1200px;
    flex-direction: row;
    /* by default flex direction is row
    we can also set it as column using the below property */
    /* flex-direction: column;
    we can use row-reverse or column-reverse to reverse the order of items */

    flex-wrap: wrap;
    /* this property allows the flex items to wrap to
     the next line if they exceed the container width */

     /* justify-content: center; */
     /* this property aligns the flex items along the main axis
     basically beech m
     we can use start,end */

     /* justify-content: space-between; */
     /* first and end wale m space equal */

        align-items: center;
        /* this property aligns the flex items along the cross axis */

}

.box{
    height: 180px;
    width: 200px;
    border: 2px solid black;
    margin:50px;
    padding:30px;
}
#box1{
    background-color: lightcoral;
    /* order: 2; */
    /* this property controls the order of flex items */
}
#box2{
    background-color: lightblue;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightgoldenrodyellow;
}

/* flex-grow, flex-shrink, flex-basis */
/* flex-basis to set dimension */
/* flex-grow to increase the size of an element when inspect*/
/* flex-shrink to decrease the size of an element */