.container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 5px solid black;
}

*{
    margin: 0;
    padding: 0;
}

.box{
    width: 250px;
    height: 80px;
    background-color: coral;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    position: relative; /* REQUIRED */
    animation-name: rightMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes rightMovement{
    from{
        left: 0;
    }
    to{
        left: 1000px;
    }
}
