/* .container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 5px solid black;
}

*{
    margin: 0;
    padding: 0;
}

.box{
    width: 250px;
    height: 80px;
    background-color: coral;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    position: relative; /* REQUIRED */
    /* animation-name: rightMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate; */

    /* Animation fill mode this property tells the animation what to
    do after the animation completes */



     /* animation:5s linear 1s infinite alternate rightMovement; */
     /*  this represents all the animation properties in one line */
     /* @keyframes duration | easing function | delay | iteration count | direction | name */
/* } */

/* @keyframes rightMovement {
    from {
        left: 0px;
        top: 0px;
    }
    to {
        left: 100px;
        top: 250px;
    }
} */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

/* Game Area */
/* .game-area{
    width: 800px;
    height: 400px;
    background-color: black;
    position: relative;
    border: 4px solid white;
    overflow: hidden;
} */

/* Paddles (Boxes) */
.paddle{
    width: 20px;
    height: 100px;
    background-color: white;
    position: absolute;
}

/* Left Paddle */
.left{
    left: 10px;
    top: 0;
    animation: paddleMove 3s linear infinite alternate;
}

/* Right Paddle */
.right{
    right: 10px;
    bottom: 0;
    animation: paddleMove 3s linear infinite alternate;
}

/* Ball */
.ball{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: ballMove 2s linear infinite alternate;
}

/* Paddle Animation */
@keyframes paddleMove{
    from{
        top: 0;
    }
    to{
        top: 650px;
    }
}

/* Ball Animation */
@keyframes ballMove{
    0%{
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
    25%{
        left: 760px;
        top: 50px;
    }
    50%{
        left: 50%;
        top: 350px;
    }
    75%{
        left: 40px;
        top: 100px;
    }
    100%{
        left: 50%;
        top: 50%;
    }
}





