*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #3F5EFB;
    background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card{
    height: 600px;
    width: 360px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    gap:30px;
    padding:20px;
}

.card img{
    height: 350px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 10px;
}

.card h2{
    font-weight: bold;

}