*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    width:100%;
    padding:4rem;
    display:grid;
    gap:1rem;
    background-color: hotpink;
    grid-template-areas:
        "header header header"
        "sidebar content1 content1"
        "sidebar content2 content3"
        "Footer Footer Footer";
}

.item{
        border: 5px solid black;
        background-color: lightgray; 
}


#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#content1{
    grid-area: content1;
}

#content2{
    grid-area: content2;
}

#content3{
    grid-area: content3;
}

#Footer{
    grid-area: Footer;
}
