.img1 {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.img2 {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
    top: 100px;
    left: 100px;
    /* in relative we can use top,left,right,bottom
    by default all images are placed static */
}

.img3 {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: absolute;
    /* for overlapping */
}

.img4 {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: fixed;
}

